html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background: url(img.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0 0;
}

hr{
    margin: auto;
    opacity: 1;
    border-color: red !important;
    border-width: 3px !important;
    max-width: 65px !important;
}
.buffer{
    height: 10rem;
}
.button{
    padding: 1rem 2rem;
    font-weight: 700;
    /* margin: 1rem 3rem; */
    border-radius: 100px;
}
.btn-danger:hover{
    background-color: rgb(189, 138, 43);
    border-color: rgb(189, 138, 43) ;
    border-width: 4px;
}